{% extends 'base.html' %}
{% block title %}Page not found{% endblock %}

{% block content %}
	<div class="append-1 span-22 prepend-1 append-bottom">
	     <div class="logo span-17"></div>
	  <hr/>
	  </div>
	<div class="prepend-4 span-16 prepend-top append-bottom">
	<h2>Oh no, it looks like you have cookies disabled in your browser. You'll need to enable cookies in order finish sign-up.
	Read more about how to enable cookies 
	<a href="http://www.google.com/support/websearch/bin/answer.py?answer=35851">here</a>.</h2>
	</div>
{% endblock %}
