{% extends 'base.html' %}
{% load media %}

{% block title %}{{active_recipe}} {% endblock %}

{% block css %}
<!--[if (!IE)|(gte IE 8)]><!--> {% include_media 'main.css' media='screen, projection' %} <!--<![endif]-->
<!--[if lt IE 8]> {% include_media 'main-ie.css' %} <![endif]-->
{% include_media 'print.css' media='print' %}
{% endblock %}

{% block preload_js %}
	{% include_media 'main.js' %}
{% endblock %}

{% block content %}

      <div class="append-1 span-22 prepend-1 append-bottom">
	      <a href="https://yupeat.appspot.com/order/{{city}}">
		  	<div class="logo span-17"></div>
		  </a>
		  
		  <div id="login_block" class="login span-5 last">
			 	{% if user == None %}
				Have an account? 
				<a href="login" class="login_btn rounded-corners">
					<span>
					Log in &nbsp;  &nbsp;  &nbsp;
					</span>
				</a>
				<div>
					<fieldset id="signin_menu">
					    <form method="post" name="sm_login_form" id="sm_login_form" action=".">{% csrf_token %}
					      <label for="username">Email</label>
					      <input id="username" name="username" value="" title="username" tabindex="4" type="text">
					      </p>
					      <p>
					        <label for="password">Password</label>
					        <input id="password" name="password" value="" title="password" tabindex="5" type="password">
					      </p>
					      <p class="remember">
					        <input id="signin_submit" value="Log in" tabindex="6" type="submit">
					      </p>
					      <p class="forgot"> <a href="{% url reset_password %}" id="resend_password_link">Forgot your password?</a> </p>
					    <input type="hidden" name="city" value={{city}} />
						</form>
					  </fieldset>
				</div>
				{% else %}
					<div>
						<a href="logout" class="logout_btn rounded-corners">
							<span>{{user.username}}</span>
						</a>
						<fieldset id="signout_menu">
							<p class="logout"> <a href="{% url logout %}?city={{city}}" id="logout">Logout</a> </p>
							<p class="account"> <a href="{% url profile %}" id="logout">Account</a> </p>
						</fieldset>
					</div>
				{% endif %}
			</div>
          <hr/>
		  
	
		  <div class="password_reset span-17">
			  <h3>Password Reset</h3>
			   <form method="post"action=".">{% csrf_token %}
			  <div>
			  <label for="id_email">Email:</label><br/>
			  {% if form.errors %}<div class="error"> {{form.email.errors}}</div>{% endif %}
			  {{form.email}}
			  </div>
			  <div id="submit" class="span-16">
				<button class="truebutton">Send Email</button>
			  </div> 
			  </form>
		  </div>
	  </div>
	  <div class="append-1 span-22 prepend-1 prepend-top append-bottom"></div>

<script type="text/javascript">lib.auth.init();</script>
{% endblock %}

