{% extends 'base.html' %}
{% load media %}


{% block title %}Admin Item {% endblock %}

{% block css %}
<!--[if (!IE)|(gte IE 8)]><!--> {% include_media 'main.css' media='screen, projection' %} <!--<![endif]-->
<!--[if lt IE 8]> {% include_media 'main-ie.css' %} <![endif]-->
{% include_media 'print.css' media='print' %}
{% endblock %}

{% block content %}
<div class="container"> 
	 
      <div class=" prepend-1 span-22 append-1 prepend-bottom">
          <div class="logo"></div>
      </div>
      <div class="span-4 prepend-top">
          
      </div>
      <div class="span-16 prepend-top">
		  <form action="." method="POST">{% csrf_token %}
			<div><textarea name="new_items"></textarea></div>
			<div>
				<button type="submit" class="positive"><img src="{% media_url 'css/blueprint/plugins/buttons/icons/tick.png' %}">Save</button>
		  		<button type="submit" class="negative"><img src="{% media_url 'css/blueprint/plugins/buttons/icons/cross.png' %}">Cancel</button>
			</div>
		  </form>
		  
      </div>
      <div class="span-4 prepend-top last">
      </div>
	  <div class="span-24 prepend-top prepend-bottom footer"></div>
     
</div>
{% endblock %}