{% extends 'base.html' %}
{% load media %}
{% load meal_extras %}

{% block title %}Buy Now Button | Yupeat{% endblock %}

{% block css %}
<!--[if (!IE)|(gte IE 8)]><!--> {% include_media 'main.css' media='screen, projection' %} <!--<![endif]-->
<!--[if lt IE 8]> {% include_media 'main-ie.css' %} <![endif]-->
{% include_media 'print.css' media='print' %}
{% endblock %}

{% block preload_js %}
	{% include_media 'main.js' %}
{% endblock %}

{% block messaging %}
	{% if messages %}
	<div class="messages">
	    {% for message in messages %}
	    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
	    {% endfor %}
	</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="append-1 span-22 prepend-1 prepend-top prepend-bottom">
	  	<div class="logo span-16"></div>
		{% include 'profile/login_navbar.html' %}
    <hr/>
  	</div>

	<div class="append-1 span-22 prepend-1 prepend-top">
		<div class="install-button">
			<h1>"Order Ingredients" Button</h1>	
		</div>
		
		<div class="span-22 append-bottom last">
		<div class="span-5">
			<a class="big-order-button" onclick="alert('Drag me to the toolbar'); return false;" title="Order Ingredients"
			href="javascript:void((function(){var%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://{{domain}}{{js_source}}');document.body.appendChild(e)})());">
				Order Ingredients
			</a>
		</div>
		<div class="span-16 big-order-helper">
			&larr; Add this link to your Bookmarks Bar
		</div>
		</div>
		
		<div class="install-button-details prepend-top last">
			<p>Find inspiration on any one of the websites listed below. Then use the "Order Ingredients" button to place an order 
			and have those items delivered.</p>
			<ul>
				<lh>Available Sites</lh>
				{% for site in all_sites %}
				<li><a href="http://{{site.url}}">{{site.url}}</a></li>
				{% endfor %}
			</ul>
		</div>	
	</div>

{% include_media 'main.js' %}
<script type="text/javascript">lib.auth.init();</script>
	
{% endblock %}


