{% load media %} 

<div class="slides_container">
	<div>
	  <img width="845" height="243" title="Test" alt="ginger chicken" src="{% media_url 'images/banner/ginger-chicken_03.jpg' %}">
	</div>
	<div>
	  <img width="845" height="243" alt="dinner party" src="{% media_url 'images/banner/dinner-party_03.jpg' %}">
	</div>
	<div>
	  <img width="845" height="243" alt="leg of lamb"  src="{% media_url 'images/banner/leg-of-lamb_03.jpg' %}">
	</div>
	<div>
	  <img width="845" height="243" alt="summer dinner" src="{% media_url 'images/banner/summer-dinner_03.jpg' %}">
	</div>
	<div>
	  <img width="845" height="243" alt="ahi tuna" src="{% media_url 'images/banner/ahi-tuna_03.jpg' %}">
	</div>
	<div>
	  <img width="845" height="243" alt="dinner phone" src="{% media_url 'images/banner/dinner-date-phone_03.jpg' %}">
	</div>
</div>
