<div class="span-8">
	<a href="http://www.yupeat.com/"><div class="logo landing"></div></a>
	</div>
	<div class="span-13 more-nav">
		<nav>
		<ul class="prepend-2 span-11">
			<li class="{% block what_active%}{%endblock%}"><a href="/what" title="Learn more about Yupeat">What is Yupeat?</a></li>
			<li class="{% block about_active%}{%endblock%}"><a href="/about" title="Learn more about our team">About Us</a></li>
			<li class="start_nav"><a href="">Start Service Today</a></li>
		</ul>
		</nav>
	</div>	
