{% extends 'base.html' %}
{% load media %}
{% load filetransfers %}

{% block title %}Confirmation {% endblock %}

{% block css %}
<!--[if (!IE)|(gte IE 8)]><!--> {% include_media 'main.css' media='screen, projection' %} <!--<![endif]-->
<!--[if lt IE 8]> {% include_media 'main-ie.css' %} <![endif]-->
{% include_media 'print.css' media='print' %}
{% endblock %}

{% block preload_js %}
	{% include_media 'main.js' %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="append-1 span-22 prepend-1 append-bottom clearfix"> 
	<a href="https://yupeat.appspot.com/order/{{city}}">
		<div class="logo span-16"></div>
	</a>
	
	<hr/>
	
	<div>
		<h2>Order canceled!</h2>
	</div>
	<div>Click <a href="/order/sanfrancisco">here</a> to return to the order page.</div>
   </div>
	<div class="append-1 span-22 prepend-1 append-bottom"> 
	
	</div>
</div>

<script type="text/javascript">lib.auth.init();</script>
{% endblock %}
