<div class="admin_navbar last">
	<ul>
		<li><a style="color:#fff" href="/order/admin/track">Track Orders</a></li>
		<li><a style="color:#fff" href="/order/admin/schedule">Schedule</a></li>
		<li><a style="color:#fff" href="/order/admin/new">New Meal</a></li>
		<li><a style="color:#fff" href="/order/admin/store">New Store</a></li>
		<li><a style="color:#fff" href="/order/admin/soldout">Soldout</a></li>
		<li><a style="color:#fff" href="/order/admin/coupon">Coupon</a></li>
		<li><a style="color:#fff" href="/order/admin/buynow-urls">Eligible URLs</a></li>
		<li><a style="color:#fff" href="/profile/admin/manage">Manage Profiles</a></li>
		<li><a style="color:#fff" href="/items/admin/all">All Items</a></li>
	</ul>
</div>