{% extends 'base.html' %}
{% load media %}

{% block title %}Admin (All Recipes){% endblock %}

{% block css %}
<!--[if (!IE)|(gte IE 8)]><!--> {% include_media 'main.css' media='screen, projection' %} <!--<![endif]-->
<!--[if lt IE 8]> {% include_media 'main-ie.css' %} <![endif]-->
{% include_media 'print.css' media='print' %}
{% endblock %}

{% block content %}
<div class="container"> 
	      <div class="append-1 span-22 prepend-1 prepend-top prepend-bottom">
              <div class="logo"></div>
          </div>
          <div class="append-1 span-22 prepend-1 prepend-top">
              <h2>{{store.store_name}}, {{store.city}}</h2>
			  <h3>{{recipe.name}} - {{date}}</h3>
			  <div class="span-16 last clearfix append-bottom">
			  	<form action="." method="post">{% csrf_token %}
				{{form}}
				<div class="append-1 span-22">
			  		<button type="submit" class="positive"><img src="{% media_url 'css/blueprint/plugins/buttons/icons/tick.png' %}">Save</button>
			  		<button type="submit" class="negative"><img src="{% media_url 'css/blueprint/plugins/buttons/icons/cross.png' %}">Cancel</button>
			  	</div>
				</form>
			  </div>
          </div>
</div>
{% endblock %}