{% extends 'base.html' %}
{% load media %}


{% block title %}Admin Store {% endblock %}

{% block css %}
<!--[if (!IE)|(gte IE 8)]><!--> {% include_media 'main.css' media='screen, projection' %} <!--<![endif]-->
<!--[if lt IE 8]> {% include_media 'main-ie.css' %} <![endif]-->
{% include_media 'print.css' media='print' %}
{% endblock %}

{% block admin_navbar %}
	{% include 'profile/admin/admin_navbar.html' %}
{% endblock %}

{% block content %}
<div class="container"> 
	 	  <div class="append-1 span-22 prepend-1 prepend-top prepend-bottom">
              <div class="logo"></div>
          </div>
          <div class="span-4 prepend-top">
              
          </div>
          <div class="span-16 prepend-top">
			  
			  <form action="." method="POST">{% csrf_token %}
			  <div class="edit_store">
			  {{store_form.as_p}}
			  </div>
			  <hr />
			  <button type="submit" class="positive"><img src="{% media_url 'css/blueprint/plugins/buttons/icons/tick.png' %}">Save</button>
			  <button type="submit" class="negative"><img src="{% media_url 'css/blueprint/plugins/buttons/icons/cross.png' %}">Cancel</button>
			  
			  </form>
			  
          </div>
          <div class="span-4 prepend-top last">
          </div>
		  <div class="span-24 prepend-top prepend-bottom footer"></div>
     
</div>
{% endblock %}