{% load i18n %}

<h1>Order for Today {{pickup_day}} Confirmed </h1>
<div>
	<h2>{% for r in recipes %}<h3><b>{{r.name}}</b><h3/>{% endfor %}</h2>
	</div>
<br/>
<h2>Amount Charged</h2>
<p>{{charged}}</p>
<h2>Pickup Location and Time</h2>
<p>Pickup time: {{pickup_time}}</p>
<p>{{store.store_name}}<br/>
	{{store.street1}}<br/>
	{{store.city}}, {{store.state}} {{store.postal_code}}<br/>
	{{store.country}}<br/>
</p>

<h2>Items Ordered</h2>
<ul>
	{% for i in items %}
	<li>{{i}}</li>
	{% endfor %}
</ul>   
<br/>
<p>You can find your Yupeat buyer in a bright orange shirt standing in front of {{store.store_name}} on {{store.street1}}.</p>  
<p>Meal directions: 
	<a href="https://yupeat.appspot.com/meals/details/{{recipe_id}}/">
		{% for r in recipes %}{{r.name}}{% endfor %}		
	</a>
</p>
<p>If you have questions or feedback feel free to contact us at <a href="mailto:support@yupeat.com">support@yupeat.com</a> or give us a call at (916) 623 5526.</p>

<p>We'll see you soon. Thanks!</p>
<br/>
<p>Ray + The Yupeat Team</p>