{% load i18n %}

<h1>Gift Subscription Receipt</h1>
<h3>Hi {{givername}},</h3>

<br/>
<p>Your gift's been sent! Here's a copy of your gift receipt.<br/>	
</p>

<h2>Order Details:</h2>
<ul>
	<li>Order Number: {{order_number}}</li> 
	<li>Order Date: {{order_date}}</li>
	<li>4-Month Gift Subscription</li>
	<li>49.99</li>
</ul>   

<p>If you have questions or feedback feel free to contact us at <a href="mailto:support@yupeat.com">support@yupeat.com</a>.</p>
<p>Thanks!</p>
<br/>
<p>Ray + The Yupeat Team</p>
