{% load i18n %}

<p>WooHoo! Welcome to Yupeat. Soon you'll begin receiving one email per day with a description 
of a meal and the ingredients that you can order using our service.</p> 

<p>Here's how it works:</p>

<p>1. Once per day you receive an email with a dinner meal recipe.</p>

<p>2. If you dig it, review the list of ingredients to deselect items you already have at home.</p>

<p>3. Place an order anytime before 4:30p and pick-up between 5-7p curbside, 
directly in front of the {{store.store_name}} on {{store.street1}}</p>

<p>If you have questions or feedback feel free to contact us at support@yupeat.com.</p>
<p>We'll see you soon. Thanks!</p>

<p>Ray + The Yupeat Team</p>